/* Colors
---------------------------------------------------------------------------------------------------- */
//Theme Specific
$green: #1abc9c;
$orange: #ef6c00;
$white: #fff;
$mid-gray: #9b9b9b;
$light-gray: #f5f5f5;
$dark-gray: #333;

//General
$color-site-bg: $light-gray;
$color-container-bg: $white;
$color-dark-bg: $dark-gray;
$color-body: $dark-gray;
$color-light-text: $mid-gray;
$color-link: $orange;
$color-link-visited: $color-link;
$color-link-hover: $dark-gray;
$color-light-link: $white;
$color-menu-link: $dark-gray;
$color-current-menu: $orange;
$color-button-bg: $dark-gray;
$color-button-hover: $orange;
