main.content {
	margin-top: 0 !important;
}

header {
	.title-area {
		float: none;
		margin-bottom: 7px;
		text-align: center;
	}
}
.entry-content {
	ul,
	ol {
		font-size: 16px;
		margin-left: 5vw;
		margin-right: 5vw;
		li {
			margin-bottom: 6px;
		}
	}

	.schema-faq {
		font-size: 16px;

		.schema-faq-answer {
			font-size: 15px;
			margin-bottom: 20px;
		}
	}

	.wp-block-column {
		figure {
			margin-bottom: 0;
			figcaption {
				color: darken($green, 10%);
				margin-bottom: 0;
			}
		}
	}

	// Syllabus
	.llms-syllabus-wrapper {
		.llms-section-title {
			font-size: 30px;
			font-weight: 600;
		}
		.llms-lesson-preview {
			width: 100%;
			.llms-lesson-link {
				background-color: transparent;
			}
			.llms-lesson-link-locked {
				box-shadow: none;
			}
			.llms-lesson-title {
				font-weight: 300;
			}
			.llms-lesson-excerpt {
				font-size: 16px;
			}
		}
	}
}
