.attachment-post-thumbnail {
	display: block;
	margin: 0 auto;
}

main.content {
	margin-top: 0;
}

.entry-content,
.entry-header {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	ul {
		text-align: left;
	}
}

main.content {
	margin-top: 0 !important;
}
