.entry {
	margin-top: 30px;

	.llms-checkout {
		background-color: transparent;
	}
}

.llms-notice,
.llms-checkout-section,
.llms-checkout-wrapper form.llms-login {
	border-color: $green;
	background-color: $white;

	&.llms-checkout-errors,
	&.llms-error,
	.llms-payment-gateways {
		li {
			list-style: none;
		}
	}
}

.llms-checkout-section {
	.type-email,
	.type-password {
		width: 100%;
	}

	input {
		color: #888888;
		font-size: 80%;
	}

	.type-html {
		line-height: 1;

		.llms-description {
			font-size: 12px;
		}
	}

	.hidden-coupon {
		background-image: url(images/coupon-icon.png);
		background-repeat: no-repeat;
		overflow: hidden;
		height: 35px;
		width: 35px;
		float: right;
		margin-top: -6px;

		span {
			visibility: hidden;
		}
	}

	.llms-coupon-wrapper {
		border-top: none;
		margin-top: 0;
		padding-top: 0;
	}

	.llms-checkout-confirm {
		.type-html,
		.type-checkbox {
			font-size: 12px;
			line-height: 1.4;
		}
	}
}

.llms-notice {
	background-color: transparentize($green, 0.7);
	margin-bottom: 30px;
	margin-left: 0;
}

.llms-checkout-section,
form.llms-login {
	.llms-form-heading {
		background-color: $green;
	}
}

.llms-order-summary {
	h5 {
		margin-bottom: 10px;
	}

	&.on-sale {
		h5.price-regular {
			display: inline-block;
			font-family: $base-font-family;
			font-size: 14px;
			font-weight: 400;
			text-decoration: line-through;
		}
		.price-sale {
			font-family: $tit;
			font-size: 20px;
		}
	}
}

#llms_remember {
	vertical-align: middle;
}
