/* Sticky Message
---------------------------------------------------------------------------------------------------- */

.sticky-message {
	background-color: #333;
	font-size: 16px;
	opacity: 0;
	padding-bottom: 20px;
	padding-top: 20px;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 999;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	&.reveal {
		opacity: 1;
	}
	color: #fff;
	a:hover, p {
		color: #fff;
	}
	a {
		color: #999;
	}
	p:last-child {
		margin-bottom: 0;
	}
}